a, a:visited {
    /* color:green; */
    text-decoration: none;
    font-size: 12px;
}
a:hover,a:focus {
    text-decoration: underline;
}
.table td,.table th {
    background-color: #fff !important;
  }
.uk-table th,.uk-table td {
    border: 1px solid #ddd !important;
}
.uk-table th a {
    color: #333;
    font-size: 12px;
 }
.uk-table th {
    color: #333;
    font-size: 12px;
 }

.tabnew {
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 40px;
 }
.tabnew li{
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 40px;
    font-weight: bold;
     
 }
.summary {
    padding-top: 8px;
    margin-bottom: 15px;
}
.glyphicon-trash {
    cursor: pointer;
}
.uk-icon-check {
    cursor: pointer;
    color: green !important;
}
.uk-icon-close {
    cursor: pointer;
    color: red !important;
}
.glyphicon-pencil,.glyphicon-trash {
    cursor: pointer;
    color: green !important;
}
.fixiconsave {
    cursor: pointer;
    color: green !important;
    float: right;
    padding-right:12px;
}
.fixiconsaveordering {
    cursor: pointer;
    color: green !important;
    float: right;
    padding-right:0px;
}
.buttongreen{
    background: green !important;
}
.uk-button-primary,.btn-primary {
    color: #ffffff;
    background: #299a0b;
}
.uk-button-primary:hover,.btn-primary:hover {
    background: #046E0A;
}
.uk-pagination li {
    margin: 0px;
    border: 1px solid #ccc;
}
.uk-pagination li.active a{
    background: #bababa !important;
}
/*Head*/
#header {
    width: 100%;
}
.nav-menu li a{
    font-size: 14px !important;
}
.page-content-wrapper{
    padding: 1.5rem 2rem !important;
}
#header .bghead {
    height:40px;
    background-color: #4e4c77;
    padding-left: 30px;
    padding-right: 30px;
}
#header .brand {
    color: #ffffff;
}
#header .brand {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}
#header a {
    color: #ffffff;
    text-decoration: none;
}
#header a:hover {
     color: #ffffff;
}
#header .bghead .uk-navbar-nav li a:hover {
    background:none !important;
}
/*Menu left*/
#main {  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
}
div.side-left {
    width: 200px;
    display: block;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding-bottom: 16px;
    float: left;
    background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
    background-color: #584475;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 16.875rem;
    max-width: 16.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1002;
    will-change: left, right;
}
#main .side-left .uk-nav > li > a {
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 0;
    padding: 0.8125rem 2rem;
    font-size: 0.875rem;
    color: #bdafd1;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    color: #af9fc7;
    padding: 0.8125rem 2rem 0.8125rem 4rem;
}
#main .side-left .uk-nav li a:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}
div.side-left ul.dropdown {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
div.side-left ul.dropdown li {
    margin: 0px;
    padding: 0px;
    padding-left: 30px;   
    padding-bottom:2px;
    height: 26px;
}
div.side-left ul.dropdown li:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}
div.side-left ul.dropdown li a {
    text-transform: uppercase;
    color: #af9fc7;   
}    
div.side-left ul.dropdown li a:hover {   
    color: #fff;
}  
div.side-left li.uk-nav-header{
    padding-top: 0px;
}
div.side-left .nav-header .dropdown{
    display: none;    
}
div.side-left .open .dropdown{
    display:block;   
}
div.side-left .open .dropdown a{
    /* color: #843333 !important;   */
    text-transform: uppercase;
    font-weight:bold;
}
/*Main*/
div.maincontent{
    background-color: #faf8fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 0;
    min-width: 0;
    max-width: 100%;
    min-height: 1px;
    padding: 1.5rem 2rem;
}
div.maincontent .title-page{
    font-size:20px;
    font-weight: normal;
    margin-bottom:0px;
    text-transform: uppercase;   
}
div.maincontent ul.nav-tabs{
    height: 40px;
}
div.maincontent ul.nav-tabs li{
    list-style: none;
    font-weight: bold;
}
div.maincontent .title-page {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 14px;
    font-weight: bold;
}
/*Main*/
ul.boxresultauto {
     border: 1px solid #cccccc;
     display: none;
     margin-top: -10px;
     margin-left: 0px;
     padding-left: 0px;
     width: 280px;
     position: absolute;
     background: #EEEEEE;
     height: 180px !important;
     overflow: scroll;   
}
ul.boxresultauto li {
    height: 28px;
    padding-top: 4px;
    padding-left: 10px;
    list-style: none;
}
ul.boxresultauto li:hover {
    cursor: pointer;
    background: #2ba3d4;
}

ul.boxresultautoprice{
     border: 1px solid #cccccc;
     display: none;
     margin-top: -10px;
     margin-left: 0px;
     padding-left: 0px;
     position: absolute;
     width: 50%;
     background: #EEEEEE;
     height: 250px !important;
     overflow: scroll;   
    
}
ul.boxresultautoprice li {
    height: 28px;
    padding-top: 4px;
    padding-left: 10px;
    list-style: none;
}
ul.boxresultautoprice li:hover {
    cursor: pointer;
    background: #2ba3d4;
}

ul.boxresultsearchday{
     border: 1px solid #cccccc;
     display: none;
     margin-top: -10px;
     margin-left: 0px;
     padding-left: 0px;
     position: absolute;
     width: 75%;
     background: #EEEEEE;
     height: 400px !important;
     overflow: scroll;   
     background: #EEE;
    
}
ul.boxresultsearchday li {
    height: 28px;
    padding-top: 4px;
    padding-left: 10px;
    list-style: none;   
}
ul.boxresultsearchday li:hover {
    cursor: pointer;
    background: #2ba3d4;
}

div.boxaddday{
    border: 1px solid #e3e3e3;
    padding: 16px;
    border-radius:2px;
}
div.boxborder{
    border: 1px solid #e3e3e3;
    padding: 16px;
    border-radius:2px;
}
span.exportpdf {
    display: block;
    margin-top: -26px;
}
span.exportpdf a{
    color: white;
}
div.field-itemimg-img input{
    height: 40px;
    padding: 0px;
    padding-bottom: 20px;
    border: 0px;
}
.img-thumbnail {
    margin: 4px !important;
    width: 120px;
    height: 90px;
    cursor:pointer;
}
#modalimg div.uk-modal-dialog{
    width: 820px !important;
}
#modaladdday div.uk-modal-dialog{
    width: 950px !important;
}
h3.booktour-detail-title {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background: none !important;
    font-weight: bold;
}
li.notetxt{
    font-size: 11px;
    height: 50px !important;
    font-style: italic;
    padding-bottom: 6px;
   /* border: 1px solid red;*/
    margin-top: 0px;
    padding-top: 0px;
}
div.field-booktourform-txtsearch{  
    width: 85%;
}
/*Detail program*/
div.detaillist {    
    margin-left:0px !important;
}
div.detaillist .uk-width-1-10 {  
    padding-left: 0px !important;
    width: 6% !important;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
}
div.detaillist .listtitleday { 
    width: 44% !important;
    height:inherit !important;
    text-align: left;
   
}
div.detaillist .listtitleday .booktour-detail-title{
    font-weight: normal !important;
    font-size: 12px;
}
div.detaillist .titleday {
     width: 8% !important;
}
div.detaillist .actionicon {
    text-align: left;
}
.bgsearchdaycontent{
    background: yellow;
}
#booktourform-transport_day label {
    font-weight:normal !important;
    padding-right: 4px;
}
.history {
    font-weight: normal !important;
    font-size: 12px !important;
}
.history h3{
    font-size: 12px !important;
    font-weight: normal !important;
    background:none !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
/*Comment*/
ul.listcomment li {
    width: 100% !important;
    padding:8px;
    border: 1px solid #e3e3e3;
    border-radius:2px;
}
ul.listcomment li.uk-align-right {
    font-style: italic;
}
ul.listcomment li .uk-comment-header {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;    
}
ul.listcomment li .uk-comment-body{
    padding-left: 14px;    
}
div.grid-view .pagination{
    text-align: center !important;  
    margin-top: 34px;
    padding-bottom: 20px;   
}
#tour-country_ids label {
    padding-right: 20px;
}
/*Login*/
div.box-login {
    border: 1px solid #cccccc;
    padding: 20px;
    width: 350px;
    height: auto;
    background: #fff;
    width: 461px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px rgba(74, 53, 107, 0.08);
}
div.box-login .head {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    color: #555 !important;
    display: block !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
    width: 100% !important;
    height: calc(1.5em + 1.5rem + 2px) !important;
    padding: 0.75rem 1.5rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: 4px !important;
}
div.footer {
    margin-top:60px;
    padding-top: 20px;
    padding-left: 20px;
    border-top: 1px solid #e9e9e9;
}
div.boxtools .control-group{
    margin-bottom: 8px;
}
.page-wrapper {
	overflow: hidden;
	position: relative;
}

.page-inner {
	min-height: 100vh;
}

.page-wrapper, .page-inner {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    width: 100%;
}

.page-content-wrapper {
	background-color: #faf8fb;
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    padding: 0;

    flex-basis: 100%;
    flex-direction: column;
    width: 0;
    min-width: 0;
    max-width: 100%;

    min-height: 1px;        
}
.href_class::before {
    font-family: FontAwesome !important;
    content: "\f107" !important;
    position: absolute !important;
    right: 10px !important;
    display: block !important;
    top: 10px !important;
    font-size: 16px !important;
    color: #fff !important;
}
.nav-menu li > ul{
    padding: 0 !important;
}
.grid-view{
    padding: 1rem;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(74, 53, 107, 0.08);
    border-radius: 4px;
}
table.table.table-striped.table-bordered td{
    font-size: 13px;
}
.btn_login{
    padding: 0.75rem 1.5rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: 4px !important;
    background-color: #2196F3 !important;
}